<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sr.unasat.beroepsproduct2">


    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/vegetables"
        android:label="@string/Veggies"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test">
        <activity android:name=".Activities.RegisterActivity"/>
        <activity android:name=".Activities.SummaryActivity" />
        <activity android:name=".Activities.AntroewaActivity" />
        <activity android:name=".Activities.BitawiriActivity" />
        <activity android:name=".Activities.PompoenActivity" />
        <activity android:name=".Activities.BoulangerActivity" />
        <activity android:name=".Activities.KlaroenActivity" />
        <activity android:name=".Activities.KousebandActivity" />
        <activity android:name=".Activities.KomkommerActivity" />
        <activity android:name=".Activities.KoolActivity" />
        <activity android:name=".Activities.MainActivity"/>
        <activity android:name=".Activities.UpdateUserActivity"/>
        <activity android:name=".Activities.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Service.NewService"></service>

        <provider
            android:name=".Database.OrderProvider"
            android:authorities="sr.unasat.test.data.OrderProvider"
            android:exported="true" />
    </application>


</manifest>